name: build & release
on:
  release:
    types: [published]

jobs:
    build-n-publish:
        name: Build and publish to PyPI
        runs-on: ubuntu-latest
        steps:
            - name: Checkout branch
              uses: actions/checkout@v2

            - name: Setup python 
              uses: actions/setup-python@master
              with:
                python-version: 3.8
            
            - name: Install poetry
              uses: snok/install-poetry@v1.3.3
              with:
                version: 1.2.2
                virtualenvs-create: true
                virtualenvs-in-project: true
                installer-parallel: true
            
            - name: Install dependencies
              run: poetry install
            
            - name: Build and publish to PyPI
              run: |
                poetry build
                poetry publish -u ${{ secrets.PYPI_USERNAME }} -p ${{ secrets.PYPI_PASSWORD }}